{
  "jsc": {
    "target": "esnext",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true
    },
    "baseUrl": "./",
    "paths": {
      "@/*": ["./src/*"]
    },
    "transform": {
      "decoratorMetadata": true
    }
  },
  "module": {
    "type": "commonjs"
  },
  "minify": true,
  "sourceMaps": true
}